[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = otelcol.israelcentral.cloudapp.azure.com

[v3_req]
subjectAltName = @alt_names
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[alt_names]
DNS.1 = otelcol.israelcentral.cloudapp.azure.com
DNS.2 = otelcol
DNS.3 = localhost
